.pre-footer {
    @include tilted(5deg, $red);
    height: 250px;
    .content {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .btn {
        position: relative;
        top: 40px;
    }
}