section {    
    height: 680px;
    width: 100%;
    color: $white;
    background-color: $black;
}

main section {
    margin: 200px 0;
    div {        
        padding: 100px;
        height: 100%;
        background-color: $green60;        
        box-sizing: border-box;
    }
}

.has-image {
    background-image: url(https://www.walldevil.com/wallpapers/a93/wheat-field-hill-meadow-tree.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}