section {    
    height: 480px;
    width: 100%;
    background-color: $black;
    margin: 400px 0;
    color: white;
}

section h2 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 2.5rem;
}

section p {
    font-size: 1.2rem;
}